<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3>Forecast by City</h3>
        <form ng-submit="submit()">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="city" /></div>
        <div class="form-inline">
            <div class="form-group">
                <label for="days">Number of days:</label>
                <input type="number" class="form-control" ng-model="days" id="days">
            </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Get forecast"/>
            </form>
    </div>
</div>