<h1>Forecast for {{ city }} for {{ days }} days</h1>
<div class="panel panel-default">
<p class="btn" ng-click="celsius=false;fahrenheit=false">Celsius</p>
<p class="btn" ng-click="fahrenheit=true;celsius=true">Fahrenheit</p>
    <span>Days:</span>
    <span class="btn-group" role="group" aria-label="days">
        <a href="#/second/2" type="button" class="btn btn-default" data-ng-class="{ 'btn-primary': days === '2' }">2</a>
        <a href="#/second/5" type="button" class="btn btn-default" data-ng-class="{ 'btn-primary': days === '5' }">5</a>
        <a href="#/second/7" type="button" class="btn btn-default" data-ng-class="{ 'btn-primary': days === '7' }">7</a>
        <a href="#/second/14" type="button" class="btn btn-default" data-ng-class="{ 'btn-primary': days === '14' }">14</a>

    </span>
</div>
<div class="row">
<div ng-repeat="w in weatherResult.list" class="col-md-12" data-ng-class="{ 'col-md-6': days > maxDays }">

         <search-result weather-object="w" convert-fahrenheit="convertToFahrenheit(temp)" convert-celsius="convertToCelsius(temp)" convert-date="convertToDate(dt)" date-format='EEEE, d. MMM'></search-result>
    </div>
</div>